swift-study/src/main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
	<xs:complexType name="NHDR">
		<xs:sequence>
			<xs:element name="SITE">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
				  </xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="PSSD">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
				  </xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>